<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160600244766-4ei6u7474omg826403ovbhqc8tak9cog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160600244766-4ei6u7474omg826403ovbhqc8tak9cog</string>
	<key>API_KEY</key>
	<string>AIzaSyB-8QNiS-lBaXoFnnZZMrJEgZUlBGnWTL4</string>
	<key>GCM_SENDER_ID</key>
	<string>160600244766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopApp</string>
	<key>PROJECT_ID</key>
	<string>shop-app-5063c</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-app-5063c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160600244766:ios:56c428ecad758fdd1ae40f</string>
</dict>
</plist>